<h1>Bitcoin</h1>
<%= form_tag("/customers/index", :method => :get ) do %>
<%= label_tag("beer","beer 0.0001") %>
<%= text_field_tag :beer, params[:beer] %>
<br \><br \>
<%= label_tag("water","water 0.0002") %>
<%= text_field_tag :water, params[:water] %>
<br \><br \>
<%= label_tag("champange","champange 0.0003") %>
<%= text_field_tag :champange, params[:champange] %>
<br \><br \>
 <%= submit_tag("submit", :class => "btn btn-wide btn-info")%>
<% end %>